<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Symfony!</title>
    <!-- Latest compiled and minified CSS -->
   <!-- <link rel="stylesheet" href="/css/bootstrap.min.css">-->
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col col-sm-10">
            <h1 style="float:right  ">{{ page_title }}</h1>
        </div>
        <div class="col col-sm-2">
            2 cols.
        </div>
    </div>
</div>


<ul id="navigation">
    {% for post in posts %}
        <li>{{ post['title'] }}</li>
    {% endfor %}
</ul>
</body>
</html>